<section id="contacto">
  <div class="p-5 bg-car mb-5">
    <section class="section-header">
      <div class="linea-encabezado"></div>
      <div class="section-content">
        <h1 class="section-title text-center  text-white">¿Listo para tu Proyecto?</h1>
        <h5 class="font-urbanist section-subtitle text-center">
          Cuentanos tu idea y te ayudaremos a hacerla realidad
        </h5>
      </div>
    </section>

    <section id="Formulary">
      <div class="contacto-grid">
        <div class="formulario-contacto">
          <h2>Contáctanos</h2>
          <form>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="email">Correo:</label>
            <input type="email" id="email" name="email" required>

            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" rows="5" required></textarea>

            <button type="submit">Enviar</button>
          </form>
        </div>


        <div class="info-contacto text-white">
          <h4 class="font-urbanist text-bold">Información de Contacto</h4>
          <div class="icon-text mb-3">
            <i class="bi bi-whatsapp icon-img"></i>
            <strong class="font-urbanist">Teléfono:</strong>
            <strong class="font-urbanist-medium">+52 55 12345678</strong>contactanos vía Whatsapp
          </div>
          <div class="icon-text mb-3">
            <i class="bi bi-envelope-at icon-img"></i>
            <strong class="font-urbanist">Email:</strong>
            <strong class="font-urbanist-medium">careba_ramirez&#64;hotmail.com</strong>
          </div>
          <div class="icon-text mb-5">
            <i class="bi bi-pin-map icon-img"></i>
            <strong class="font-urbanist">Ubicación:</strong>
            <strong class="font-urbanist-medium">Chalco, México</strong>
          </div>
          <div class="card">
            <div class="card-body">
              <strong class="font-urbanist text-bold">Horario de atención</strong>
              <div class="horario font-urbanist-medium">
                <div class="dias">
                  <p>Lunes a Viernes:</p>
                  <p>Sábados:</p>
                </div>
                <div class="horas">
                  <p>9:00 AM - 6:00 PM</p>
                  <p>10:00 AM - 2:00 PM</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>