<app-navbar></app-navbar>
<section id="inicio" class="inicio-wrapper text-center">

  <!-- Fondo -->
  <div class="background-cover"></div>

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <main role="main" class="inner cover fade-section" #fadeEl [class.visible]="isFadeVisible">

      <h1 class="cover-heading font-Outfit">
        Donde la Calidad y Precio <br>
        <span class="text-gray-light">Se Hacen</span> Presentes
      </h1>

      <p class="cover-container-text font-urbanist">
        Transformamos tus ideas en obras maestras de carpintería. <br>
        Diseño y dedicación en cada proyecto.
      </p>

      <div class="d-flex justify-content-start gap-3">
        <a class="btn btn-lg btn-primary" (click)="scrollTo($event, 'contact')">
          Solicitar Presupuesto →
        </a>

        <a class="btn btn-lg btn-secondary" (click)="scrollTo($event, 'gallery')">
          Ver Proyectos
        </a>
      </div>
    </main>
          <footer class="mt-auto text-center">
        <svg viewBox="0 0 24 24" width="94" height="94" fill="none" style="cursor: pointer;" (click)="scrollDown()">
          <style>
            @keyframes mouse {
              0% {
                transform: translateY(8px);
              }

              100% {
                transform: translateY(1px);
              }
            }
          </style>
          <rect width="8" height="14" x="8" y="5" stroke="white" rx="4" />
          <rect width="1.5" height="3" x="11.25" y="6.5" fill="white" rx=".75"
            style="animation: mouse 0.5s linear infinite alternate both;" />
        </svg>
      </footer>
  </div>
</section>
<app-attainment></app-attainment>
<app-works></app-works>
<app-gallery></app-gallery>
<app-us></app-us>
<app-contact></app-contact>
<app-reused></app-reused>
<app-footer></app-footer>