<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="encabezado">
        <div class="contenedor">
          <h1 class="titulo"><i class="bi bi-hammer"></i> CAREBA</h1>
          <p class="subtitulo">Ideas en Madera</p>
        </div>

        <nav class="nav nav-masthead">
          <a class="nav-link active" href="#">Inicio</a>
          <a class="nav-link" href="#">Servicios</a>
          <a class="nav-link" href="#">Galería</a>
          <a class="nav-link" href="#">Sobre Nosotros</a>
          <a class="nav-link" href="#">Reuso by Careba</a>
          <a class="nav-link" href="#">Contacto</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading font-Outfit">Donde la Calidad y Precio
        <br><span style="color: #b37f59;">Se Hacen</span> Presentes
      </h1>
      <p class="cover-container-text font-urbanist">Transformamos tus ideas en obras maestras de carpintería. <br>Diseño
        y dedicación en cada proyecto.</p>
      <div class="d-flex justify-content-start gap-3">
        <a href="#" class="btn btn-lg btn-secondary">Solicitar Presupuesto &#10140;</a>
        <a href="#" class="btn btn-lg btn-secondary">Ver Proyectos</a>
      </div>
    </main>

    <footer class="mt-auto"></footer>
  </div>
</body>