/* Contenedor del logo + texto */
.logo-menu {
  display: flex;
  flex-direction: column;   /* uno debajo del otro */
  align-items: center;      /* centrado horizontal */
  justify-content: center;  /* centrado vertical */
  text-align: center;
  margin-bottom: 20px;
}

/* Imagen */
.logo-img {
  width: 80px;
  height: auto;
}

/* Texto debajo del logo */
.logo-text {
  margin-top: 10px;
  font-weight: 600;
  color: #1e3a47;
}
.layout{
  display:flex;
}

/* SIDEBAR */

// .sidebar{
//   width:260px;
//   background:#fff;
//   padding:20px;
//   display:flex;
//   flex-direction:column;
//   justify-content:space-between;
//   border-radius: 14px;
//   border: 1px solid #1e3a47;
// }

.sidebar{
  width:260px;
  background:#fff;
  padding:20px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  border-radius: 14px;
  border: 1px solid #1e3a47;
}

.menu a{
  display:block;
  padding:10px;
  text-decoration:none;
  color:#444;
  border-radius:8px;
  margin-bottom:5px;
}

.menu a.active{
  background:#e9ecef;
}

.menu-title{
  margin-top:15px;
  font-size:12px;
  color:#999;
}

.help-box{
  background:#1e3a47;
  padding:15px;
  border-radius:12px;
}

.btn-dark{
  width:100%;
  margin-top:10px;
  padding:8px;
  background:#2c3e50;
  color:white;
  border:none;
  border-radius:6px;
}

.btn-primary{
  width:100%;
  margin-top:10px;
  padding:8px;
  background:#5e72e4;
  color:white;
  border:none;
  border-radius:6px;
}

/* MAIN */

.main{
  flex:1;
  padding:20px;
}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.topbar input{
  padding:8px;
  border-radius:6px;
  border:1px solid #ccc;
}

.topbar-right{
  display:flex;
  align-items:center;
  gap:15px;
}

/* CARD */

.card{
  background:white;
  padding:20px;
  border-radius:12px;
  margin-bottom:20px;
}

/* TABLE */

table{
  width:100%;
  border-collapse:collapse;
}

th{
  text-align:left;
  font-size:12px;
  color:#999;
  padding:10px;
}

td{
  padding:12px 10px;
  border-top:1px solid #eee;
}

.author-cell{
  display:flex;
  align-items:center;
  gap:10px;
}

.author-cell img{
  border-radius:50%;
}

/* BADGES */

.badge{
  padding:5px 10px;
  border-radius:12px;
  font-size:11px;
  color:white;
}

.online{
  background:#2ecc71;
}

.offline{
  background:#95a5a6;
}

/* PROGRESS */

.progress{
  background:#eee;
  height:6px;
  border-radius:4px;
}

.progress-bar{
  background:#3498db;
  height:6px;
  border-radius:4px;
}

.progress-bar.red{
  background:#e74c3c;
}



/* FRANJA AZUL */
.header-bg{
  background: #1e3a47;
  height: 350px;
  padding: 20px;
  color: white;
  border-radius: 0 0 20px 6px;
}

/* CONTENIDO SUBE SOBRE LA FRANJA */
.content{
  margin-top: -60px;
  padding: 20px;
}

/* CARDS */
.card{
  background:white;
  padding:20px;
  border-radius:12px;
  margin-bottom:20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

/* TOPBAR TEXTO BLANCO */
.header-bg small{
  color: rgba(255,255,255,0.8);
}

.header-bg h2{
  color: white;
}
