<div class="header-bg">
  <div class="layout">

    <!-- OVERLAY -->
    @if (isMenuOpen) {
    <div class="overlay" (click)="toggleMenu()"></div>
    }

    <!-- SIDEBAR -->
    <aside class="sidebar" [class.open]="isMenuOpen" [class.collapsed]="isCollapsed">

      <!-- LOGO -->
      <div class="logo-menu">
        <img src="assets/img/careba/Logo.png" class="logo-img">

        @if (!isCollapsed) {
        <span class="logo-text">Carpintería CAREBA</span>
        }
      </div>

      <!-- MENU -->
      <nav class="menu">
        @if (!isCollapsed) {
        <div class="menu-title">COTIZACIONES</div>
        }

        <a routerLink="list">
          <i class="bi bi-list"></i>
          @if (!isCollapsed) { <span>Lista</span> }
        </a>

        <a routerLink="formulary">
          <i class="bi bi-plus-circle"></i>
          @if (!isCollapsed) { <span>Nueva</span> }
        </a>

        <a routerLink="formulary">
          <i class="bi bi-plus-circle"></i>
          @if (!isCollapsed) { <span>Solicitudes de Clientes</span> }
        </a>

        @if (!isCollapsed) {
        <div class="menu-title">REUSO</div>
        }
        <a routerLink="salesused">
          <i class="bi bi-box"></i>
          @if (!isCollapsed) { <span>Nuevo Producto</span> }
        </a>

        <a routerLink="salesused">
          <i class="bi bi-box"></i>
          @if (!isCollapsed) { <span>Lista de Productos</span> }
        </a>

        <a routerLink="salesused">
          <i class="bi bi-box"></i>
          @if (!isCollapsed) { <span>Solicitudes de Clientes</span> }
        </a>

        <a routerLink="salesused">
          <i class="bi bi-box"></i>
          @if (!isCollapsed) { <span>Ventas</span> }
        </a>

        @if (!isCollapsed) {
        <div class="menu-title">ADMIN CAREBA</div>
        }
        <a routerLink="salesused">
          <i class="bi bi-box"></i>
          @if (!isCollapsed) { <span>Usuarios</span> }
        </a>
        <a routerLink="salesused">
          <i class="bi bi-box"></i>
          @if (!isCollapsed) { <span>Altas</span> }
        </a>
        <a routerLink="salesused">
          <i class="bi bi-box"></i>
          @if (!isCollapsed) { <span>Reestablecer Contraseña</span> }
        </a>

      </nav>

    </aside>

    <!-- MAIN -->
    <main class="main">

      <!-- TOPBAR -->
      <div class="topbar">

        <div class="left">
          <button class="menu-toggle" (click)="toggleMenu()">☰</button>
          <div>
            <!-- <small>Pages / {{ pageTitle }}</small> -->
            <h2>{{ pageSubtitle }}</h2>
          </div>
        </div>

        <div class="right">
          <small>Cerrar Sesión</small>
        </div>

      </div>

      <!-- CONTENIDO -->
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>

    </main>

  </div>
</div>