<div class="header-bg">
  <div class="layout">

    <!-- OVERLAY -->
    @if (isMenuOpen) {
    <div class="overlay" (click)="toggleMenu()"></div>
    }

    <!-- SIDEBAR -->
    <aside class="sidebar" [class.open]="isMenuOpen" [class.collapsed]="isCollapsed">

      <!-- LOGO -->
      <div class="logo-menu">
        <img src="assets/img/careba/Logo.png" class="logo-img">

        <!-- @if (!isCollapsed) {
        <span class="logo-text">Carpintería CAREBA</span>
        } -->
      </div>

      <!-- MENU -->
      <nav class="menu">
        <!-- CAREBA (RETRAIBLE) -->
        <div class="menu-group">
          <!-- TITULO PRINCIPAL -->
          <div class="menu-section-title d-flex align-items-center justify-content-between" (click)="showCareba = !showCareba">

            <div class="d-flex align-items-center gap-2">
              <span class="text-black fw-bold">CAREBA</span>
            </div>

            @if (!isCollapsed) {
            <span class="arrow" [class.rotate]="showCareba"> ▼ </span>
            }

          </div>

          <!-- CONTENIDO CAREBA -->
          @if (showCareba && !isCollapsed) {

          <!--CLIENTES (RETRAIBLE)-->
          <div class="submenu-group">
            <div class="menu-subtitle d-flex align-items-center justify-content-between"  (click)="showClientes = !showClientes">
              <span>Clientes</span>
              <span class="arrow small" [class.rotate]="showClientes"> ▼ </span>
            </div>

            <!-- OPCIONES -->
            @if (showClientes) {
            <div class="submenu">
              <a routerLink="list" class="submenu-item">
                <img src="assets/img/icons/menu/listas.svg" alt="Lista de Clientes" width="18" height="18" />
                <span>Lista de Clientes</span>
              </a>

              <a routerLink="formulary" class="submenu-item">
                <img src="assets/img/icons/menu/add.svg" alt="Add Cliente" width="18" height="18" />
                <span>Add Cliente</span>
              </a>

            </div>

            }

          </div>

          <!--PRESUPUESTOS (RETRAIBLE)-->
          <div class="submenu-group">
            <div class="menu-subtitle d-flex align-items-center justify-content-between"  (click)="showPresupuestos = !showPresupuestos">
              <span>Presupuestos</span>
              <span class="arrow small" [class.rotate]="showPresupuestos"> ▼ </span>
            </div>

            @if (showPresupuestos) {
            <div class="submenu">
              <a routerLink="list" class="submenu-item">
                <img src="assets/img/icons/menu/listas.svg" alt="Lista de Presupuestos" width="18" height="18" />
                <span>Lista de Presupuestos</span>
              </a>

              <a routerLink="formulary" class="submenu-item">
                <img src="assets/img/icons/menu/add.svg" alt="Add Presupuesto" width="18" height="18" />
                <span>Add Presupuesto</span>
              </a>

            </div>

            }

          </div>

          }

        </div>

        <!-- REUSO CAREBA (RETRAIBLE) -->
        <div class="menu-group">
          <!-- TITULO PRINCIPAL -->
          <div class="menu-section-title d-flex align-items-center justify-content-between" (click)="showReusoCareba = !showReusoCareba">

            <div class="d-flex align-items-center gap-2">
              <span class="text-black fw-bold">REUSO CAREBA</span>
            </div>

            @if (!isCollapsed) {
            <span class="arrow" [class.rotate]="showReusoCareba"> ▼ </span>
            }

          </div>

          <!-- CONTENIDO CAREBA -->
          @if (showReusoCareba && !isCollapsed) {

          <!--CLIENTES (RETRAIBLE)-->
          <div class="submenu-group">
            <div class="menu-subtitle d-flex align-items-center justify-content-between"  (click)="showClientes = !showClientes">
              <span>Clientes</span>
              <span class="arrow small" [class.rotate]="showClientes"> ▼ </span>
            </div>

            <!-- OPCIONES -->
            @if (showClientes) {
            <div class="submenu">
              <a routerLink="list" class="submenu-item">
                <img src="assets/img/icons/menu/listas.svg" alt="Lista de Clientes" width="18" height="18" />
                <span>Lista de Clientes</span>
              </a>

              <a routerLink="formulary" class="submenu-item">
                <img src="assets/img/icons/menu/add.svg" alt="Add Cliente" width="18" height="18" />
                <span>Add Cliente</span>
              </a>

            </div>

            }

          </div>

          <!--PRESUPUESTOS (RETRAIBLE)-->
          <div class="submenu-group">
            <div class="menu-subtitle d-flex align-items-center justify-content-between"  (click)="showPresupuestos = !showPresupuestos">
              <span>Presupuestos</span>
              <span class="arrow small" [class.rotate]="showPresupuestos"> ▼ </span>
            </div>

            @if (showPresupuestos) {
            <div class="submenu">
              <a routerLink="list" class="submenu-item">
                <img src="assets/img/icons/menu/listas.svg" alt="Lista de Presupuestos" width="18" height="18" />
                <span>Lista de Presupuestos</span>
              </a>

              <a routerLink="formulary" class="submenu-item">
                <img src="assets/img/icons/menu/add.svg" alt="Add Presupuesto" width="18" height="18" />
                <span>Add Presupuesto</span>
              </a>

            </div>

            }

          </div>

          }

        </div>

        <!-- FINANZAS (RETRAIBLE) -->
        <div class="menu-group">
          <!-- TITULO PRINCIPAL -->
          <div class="menu-section-title d-flex align-items-center justify-content-between" (click)="showFinanzas = !showFinanzas">

            <div class="d-flex align-items-center gap-2">
              <span class="text-black fw-bold">FINANZAS</span>
            </div>

            @if (!isCollapsed) {
            <span class="arrow" [class.rotate]="showFinanzas"> ▼ </span>
            }

          </div>

          <!-- CONTENIDO FINANZAS -->
          @if (showFinanzas && !isCollapsed) {

          <!--CLIENTES (RETRAIBLE)-->
          <div class="submenu-group">
            <div class="menu-subtitle d-flex align-items-center justify-content-between"  (click)="showFinanzas = !showFinanzas">
              <span>Ingresos</span>
              <span class="arrow small" [class.rotate]="showFinanzas"> ▼ </span>
            </div>

            <!-- OPCIONES -->
            @if (showFinanzas) {
            <div class="submenu">
              <a routerLink="list" class="submenu-item">
                <img src="assets/img/icons/menu/listas.svg" alt="Lista de Ingresos" width="18" height="18" />
                <span>Lista de Ingresos</span>
              </a>

              <a routerLink="formulary" class="submenu-item">
                <img src="assets/img/icons/menu/add.svg" alt="Add Cliente" width="18" height="18" />
                <span>Add Ingreso</span>
              </a>

            </div>

            }

          </div>

          <!--Egresos (RETRAIBLE)-->
          <div class="submenu-group">
            <div class="menu-subtitle d-flex align-items-center justify-content-between"  (click)="showFinanzas = !showFinanzas">
              <span>Egresos</span>
              <span class="arrow small" [class.rotate]="showFinanzas"> ▼ </span>
            </div>

            @if (showFinanzas) {
            <div class="submenu">
              <a routerLink="list" class="submenu-item">
                <img src="assets/img/icons/menu/listas.svg" alt="Lista de Egresos" width="18" height="18" />
                <span>Lista de Egresos</span>
              </a>

              <a routerLink="formulary" class="submenu-item">
                <img src="assets/img/icons/menu/add.svg" alt="Add Egreso" width="18" height="18" />
                <span>Add Egreso</span>
              </a>

            </div>

            }

          </div>

          }

        </div>






      </nav>

    </aside>

    <!-- MAIN -->
    <main class="main">

      <!-- TOPBAR -->
      <div class="topbar">

        <div class="left">
          <button class="menu-toggle" (click)="toggleMenu()">☰</button>
          <div>
            <!-- <small>Pages / {{ pageTitle }}</small> -->
            <h2>{{ pageSubtitle }}</h2>
          </div>
        </div>

        <div class="right">
          <small class="fw-bold">¡Bienvenida @Virys!</small> |
          <small>Cerrar Sesión</small>
        </div>

      </div>

      <!-- CONTENIDO -->
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>

    </main>

  </div>
</div>







<a routerLink="list">
  <i class="bi bi-list"></i>
  @if (!isCollapsed) { <span>Lista</span> }
</a>

<a routerLink="formulary">
  <i class="bi bi-plus-circle"></i>
  @if (!isCollapsed) { <span>Nueva</span> }
</a>