<section class="section-header">
  <div class="linea-encabezado"></div>
  <div class="section-content">
    <h1 class="section-title text-center">Nuestros Servicios</h1>
    <h5 class="font-urbanist section-subtitle text-center">
      Ofrecemos una amplia gama de servicios de carpintería profesional
    </h5>
  </div>
</section>

<section class="section-contenido mb-5">
  <div class="row g-4">
    <div class="col-lg-4 col-md-6 d-flex justify-content-center">
      <div class="card h-100 w-100 position-relative custom-card">
        <div class="image-container position-relative">
          <img src="/assets/img/photos/foto-medida.jpg" class="image card-img-top" alt="Muebles a medida">

          <div class="overlay"></div> <!-- oscurecimiento al pasar el mouse -->

          <div class="icon-overlay-bottom-left">
            <img src="/assets/img/icons/muebles.png" alt="Icono muebles" class="icon-img">
          </div>
        </div>

        <div class="card-body">
          <h3 class="card-title">Muebles a Medida</h3>
          <p class="card-text font-urbanist-small">
            Diseñamos y fabricamos muebles únicos adaptados a tus necesidades y espacio.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex justify-content-center">
      <div class="card h-100 w-100 position-relative custom-card">
        <div class="image-container position-relative">
          <img src="/assets/img/photos/foto-interior.jpg" class="image card-img-top" alt="Muebles a medida">

          <div class="overlay"></div>

          <div class="icon-overlay-bottom-left">
            <img src="/assets/img/icons/interior.png" alt="Icono interior" class="icon-img">
          </div>
        </div>
        <div class="card-body">
          <h3 class="card-title">Carpintería de Interiores</h3>
          <p class="card-text font-urbanist-small">
            Closets, estanterías, revestimientos y todo tipo de carpintería interior.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex justify-content-center">
      <div class="card h-100 w-100 position-relative custom-card">
        <div class="image-container position-relative">
          <img src="/assets/img/photos/foto-restauracion.jpg" class="image card-img-top" alt="Restauración">

          <div class="overlay"></div>

          <div class="icon-overlay-bottom-left">
            <img src="/assets/img/icons/restauracion.png" alt="Icono restauracion" class="icon-img">
          </div>
        </div>
        <div class="card-body">
          <h3 class="card-title">Restauración</h3>
          <p class="card-text font-urbanist-small">
            Devolvemos la vida a tus muebles antiguos con técnicas tradicionales.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Fila 2: 2 cards centradas lado a lado -->
  <div class="row g-4 justify-content-center mt-3">
    <div class="col-lg-4 col-md-6 d-flex justify-content-center">
      <div class="card h-100 w-100 position-relative custom-card">
        <div class="image-container position-relative">
          <img src="/assets/img/photos/foto-exterior.jpg" class="image card-img-top" alt="Carpintería Exterior">

          <div class="icon-overlay-bottom-left">
            <img src="/assets/img/icons/exterior.png" alt="Icono interior" class="icon-img">
          </div>
        </div>
        <div class="card-body">
          <h3 class="card-title">Carpintería Exterior</h3>
          <p class="card-text font-urbanist-small">
            Pérgolas, porches, terrazas y estructuras de madera para exteriores.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex justify-content-center">
      <div class="card h-100 w-100 position-relative custom-card">
        <div class="image-container position-relative">
          <img src="/assets/img/photos/foto-personalizado.jpg" 
          class="image card-img-top" alt="Trabajos Personalizados">

          <div class="overlay"></div>

          <div class="icon-overlay-bottom-left">
            <img src="/assets/img/icons/personalizado.png" alt="Icono muebles" class="icon-img">
          </div>
        </div>

        <div class="card-body">
          <h3 class="card-title">Trabajos Personalizados</h3>
          <p class="card-text font-urbanist-small">
            Si lo puedes imaginar, nosotros lo podemos construir en madera.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>