<section id="works" class="section-header">
  <div class="linea-encabezado"></div>
  <div class="section-content">
    <h1 class="section-title lexend-zetta text-center">Nuestros Servicios</h1>
    <h5 class="font-urbanist section-subtitle text-center">
      Ofrecemos una amplia gama de servicios de carpintería profesional
    </h5>
  </div>
</section>

<section class="services"  #fadeEl [class.visible]="isFadeVisible">
    <div class="service-card"
       *ngFor="let item of cards">
    <div class="icon-box" [style.background]="item.bg">
      <i class="{{ item.icon }}"></i>
    </div>
    <h3 class="text-white">{{ item.title }}</h3>
    <p style="color: darkgrey;">{{ item.text }}</p>
  </div>
</section>