<section id="gallery">
  <div class="p-5 mb-2 bg-gallery mb-5">
    <section class="section-header">
      <div class="linea-encabezado"></div>
      <div class="section-content">
        <h1 class="section-title lexend-zetta text-center">Proyectos Destacados</h1>
        <h5 class="font-urbanist section-subtitle text-center">
          Cada proyecto es único y refleja nuestra pasión por la madera
        </h5>
      </div>
    </section>

    <section class="section-contenido" #fadeEl [class.visible]="isFadeVisible">
      <div class="contenido custom-card">
        <div class="box">
          <img src="/assets/img/photos/gallery/Gallery8.jpg" alt="">
          <div class="overlay"></div>
          <div class="overlay-text">Muebles de Baño</div>
        </div>

        <div class="box ocultar-movil">
          <img src="/assets/img/photos/gallery/Gallery13.jpg" alt="">
          <div class="overlay"></div>
          <div class="overlay-text">Escaleras</div>
        </div>

        <div class="box">
          <img src="/assets/img/photos/gallery/Gallery5.jpg" alt="">
          <div class="overlay"></div>
          <div class="overlay-text">Armarios</div>
        </div>

        <div class="box">
          <img src="/assets/img/photos/gallery/Gallery6.jpg" alt="">
          <div class="overlay"></div>
          <div class="overlay-text">Vestidores</div>
        </div>

        <div class="box ocultar-movil">
          <img src="/assets/img/photos/gallery/Gallery2.jpg" alt="">
          <div class="overlay"></div>
          <div class="overlay-text">Closets</div>
        </div>

        <div class="box">
          <img src="/assets/img/photos/gallery/Gallery7.jpg" alt="">
          <div class="overlay"></div>
          <div class="overlay-text">Cocinas</div>
        </div>

        <div class="box">
          <img src="/assets/img/photos/gallery/Gallery9.jpg" alt="">
          <div class="overlay"></div>
          <div class="overlay-text">Sala de Entretenimiento</div>
        </div>
      </div>
    </section>
  </div>
</section>