/* ---------- TOPBAR (línea delgada arriba) ---------- */
.topbar {
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  color: #eee;
  padding: 4px 0;
  font-size: 13px;
  letter-spacing: 0.3px;
  transition: all 0.35s ease;
  position: fixed;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(3px);

  &.hide {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.topbar-container {
  max-width: 98em;       /* MISMO ANCHO QUE EL COVER */
  margin: 0 auto;        /* Centrado */
  padding: 0 1.5rem;     /* Igual al cover-container */
  display: flex;
  justify-content: space-between; /* izquierda y derecha */
  align-items: center;
}

/* IZQUIERDA */
.topbar-left {
  display: flex;
  gap: 25px;
  align-items: center;

  span i {
    margin-right: 6px;
    font-size: 14px;
  }
}

/* DERECHA – redes sociales */
.topbar-right {
  display: flex;
  gap: 15px;
  align-items: center;

  a {
    color: #eee;
    font-size: 15px;
    transition: 0.2s;

    &:hover {
      color: #aa6c3c;
    }
  }
}


/* ---------- NAVBAR ---------- */
.navbar {
  position: fixed;
  top: 40px; /* ajustado más arriba como tu ejemplo */
  width: 100%;
  padding: 10px 0;
  z-index: 998;
  background: transparent;
  transition: all 0.35s ease;

  &.scrolled {
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    top: 28px; /* sube cuando se oculta el topbar */
    padding: 8px 0;
  }
}

// .navbar-container {
//   width: 65%;
//   margin: 10px auto;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.navbar-container {
  width: 65%;
  height: 70px; /* fuerza un contenedor balanceado */
  margin: 0 auto; /* QUITAMOS el margin-top que desalineaba todo */
  display: flex;
  justify-content: space-between;
  align-items: center; /* alinea verticalmente logo y menú */
}


.logo img {
  // height: 110px;
  // width: 180px;  
  height: 50px;
  width: 50px;
  transition: 0.3s;
}

/* ---------- MENÚ ---------- */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;

  a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;

    &:hover {
      color: #aa6c3c;
    }
  }
}

/* ---------- BOTÓN PRESUPUESTO ---------- */
.btn-quote {
  background: #aa6c3c;
  padding: 9px 18px;
  border-radius: 6px;
}

dl, ol, ul {
    margin-top: 12px;
    margin-bottom: 1rem;
}

.etiqueta{
  margin-top: 10px;
}