<!-- TOPBAR (se oculta al hacer scroll) -->
<div class="topbar" [class.hide]="isScrolled">
    <div class="topbar-container">
        
        <!-- Lado izquierdo -->
        <div class="topbar-left">
            <span><i class="bi bi-telephone"></i>55 14513651</span>
            <span><i class="bi bi-envelope"></i>careba_ramirez@hotmail.com</span>
        </div>

        <!-- Lado derecho (redes sociales) -->
        <div class="topbar-right">
            <p class="etiqueta">Síguenos:</p>
            <a href="https://www.facebook.com/carpinteriacareba?locale=es_LA" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>

    </div>
</div>

<nav [class.scrolled]="isScrolled" class="navbar">
    <div class="navbar-container">
        <a routerLink="/" class="logo">
            <!-- <img src="/assets/img/careba/PNG_CAREBA_1.png" alt="Logo"/> -->
            <img src="/assets/img/careba/Logo.png" alt="Logo"/>
        </a>

        <ul class="nav-links" [class.active]="menuOpen">
            <li><a class="nav-link" (click)="scrollTo($event, 'inicio')">INICIO</a></li>
            <li><a class="nav-link" (click)="scrollTo($event, 'works')">SERVICIOS</a></li>
            <li><a class="nav-link" (click)="scrollTo($event, 'gallery')">PROYECTOS</a></li>
            <li><a class="nav-link" (click)="scrollTo($event, 'us')">NOSOTROS</a></li>
            <li><a class="nav-link" (click)="scrollTo($event, 'contact')">CONTACTO</a></li>
            <li><a class="nav-link" (click)="scrollTo($event, 'reused')">REUSO CAREBA</a></li>
        </ul>
    </div>
</nav>
