<p>Hola Virys!</p>
<section class="form-card-container">
  <!-- CAPA 1: DELIMITACIÓN -->
  <div class="form-card-border">
    <!-- CAPA 2: DEGRADADO -->
    <div class="form-card-gradient">
      <!-- CAPA 3: FORMULARIO -->
      <div class="form-card-content">
        <form>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="fw-bold m-0 text-black">Datos del Cliente</h4>

            <div class="d-flex align-items-center gap-2">
              <label for="fecha" class="fw-bold text-black mb-0">
                Fecha:
              </label>

              <input type="date" id="fecha" class="form-control" formControlName="fecha" />
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <div class="cliente-card">

              <!-- CLIENTE + OBRA -->
              <div class="row align-items-end">
                <!-- CLIENTE -->
                <div class="col-md-7 mb-3">
                  <input type="text" class="form-control input-line" placeholder="Nombre del Cliente"
                    formControlName="cliente" />
                </div>

                <!-- OBRA -->
                <div class="col-md-5 mb-3">
                  <input type="text" class="form-control input-line" placeholder="Obra" formControlName="obra" />
                </div>
              </div>

              <!-- DIRECCIÓN -->
              <div class="row">
                <div class="col-md-12 mb-3">
                  <input type="text" class="form-control input-line" placeholder="Dirección"
                    formControlName="direccion" />
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end gap-2 mt-3">
            <button class="btn btn-primary btn-enviar">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


@if (mostrarModalExito) {
  <div class="modal-overlay">
    <div class="modal-exito text-black">
      <div class="modal-icono modal-icono-exito">
        <i class="bi bi-check-lg"></i>
      </div>

      <h2>¡Éxito!</h2>

      <p>{{ mensajeExito }}</p>

      <button
        type="button"
        class="btn-modal btn-modal-aceptar"
        (click)="cerrarModalExito()"
      >
        Aceptar
      </button>
    </div>
  </div>
}


<section class="form-card-container">
  <!-- CAPA 1: DELIMITACIÓN -->
  <div class="form-card-border">
    <!-- CAPA 2: DEGRADADO -->
    <div class="form-card-gradient">
      <!-- CAPA 3: FORMULARIO -->
      <div class="form-card-content">
        <section id="controls">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group mb-4">
                <label style="font-weight: bold" class="text-black">Ordenar por:</label>
                <select class="form-control" >
                  <option value="" selected disabled>Seleccione</option>
                  <option value="cliente">Cliente</option>
                  <option value="direccion">Dirección</option>
                  <option value="fecha">Fecha</option>
                  <option value="fechaModificacion">Fecha Modificación</option>
                </select>
              </div>
            </div>
          </div>
        </section>

        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th class="sortable">#</th>
                <th class="sortable">Cliente</th>
                <th class="sortable direccion-col">Dirección</th>
                <th class="sortable">Origen</th>
                <th class="sortable">Fecha</th>
                <th class="sortable">Modificación</th>
                <th class="sortable">Total Carpintería</th>
                <th class="sortable">Total con IVA</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody class="text-center">
              <tr *ngFor="let cliente of clientesPaginadas; index as i">
                <td class="text-center">
                  {{ (paginaActual - 1) * registrosPorPagina + i + 1 }}
                </td>
                <td>
                  <strong>{{ cliente.cliente }}</strong><br />
                  <small>{{ cliente.obra }}</small>
                </td>
                <td class="direccion-col">
                  {{ cliente.direccion }}
                </td>
                <td>
                  <span class="badge">
                  </span>
                </td>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td></td>
                <td></td>

                <td>
                  <button class="btn btn-link text-body-tertiary p-0" title="Editar">
                    <i class="bi bi-pencil-square fs-5"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-link text-body-tertiary p-0" title="Descarga con IVA">
                    <i class="bi bi-file-earmark-check-fill fs-5"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-link text-body-tertiary p-0" title="Descarga sin IVA">
                    <i class="bi bi-file-earmark-arrow-down-fill fs-5"></i>
                  </button>
                </td>

                <td>
                  <button type="button" class="btn btn-link text-body-tertiary p-0" title="Eliminar">
                    <i class="bi bi-trash3"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="pagination-container">
          <!-- Anterior -->
          <button class="page-dot" (click)="paginaAnterior()" [disabled]="paginaActual === 1">
            &lt;&lt;
          </button>

          <!-- Páginas -->
          <button class="page-dot" *ngFor="let page of paginasVisibles" [class.active]="paginaActual === page"
            (click)="cambiarPagina(page)">
            {{ page }}
          </button>

          <!-- Siguiente -->
          <button class="page-dot" (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas">
            &gt;&gt;
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="showDeleteModal" class="modal-overlay">
  <div class="modal-exito text-black">
    <div class="modal-icono modal-icono-eliminar">
      <i class="bi bi-exclamation-triangle-fill"></i>
    </div>
    <h2>Eliminar Cotización</h2>
  </div>
</div>
