<p>Lista de Inventarios!</p>
<section class="card">
        <h3>Projects table</h3>

        <table>
          <thead>
            <tr>
              <th>PROJECT</th>
              <th>BUDGET</th>
              <th>STATUS</th>
              <th>COMPLETION</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td>Spotify</td>
              <td>$2,500</td>
              <td>working</td>
              <td>
                <div class="progress">
                  <div class="progress-bar" style="width:60%"></div>
                </div>
              </td>
            </tr>

            <tr>
              <td>Invision</td>
              <td>$5,000</td>
              <td>done</td>
              <td>
                <div class="progress">
                  <div class="progress-bar" style="width:100%"></div>
                </div>
              </td>
            </tr>

            <tr>
              <td>Jira</td>
              <td>$3,400</td>
              <td>canceled</td>
              <td>
                <div class="progress">
                  <div class="progress-bar red" style="width:30%"></div>
                </div>
              </td>
            </tr>

          </tbody>
        </table>

      </section>