@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Outfit:wght@100..900&family=Unbounded:wght@900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Unbounded:wght@700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* =========================================================
   ✍️ Tipografías globales
   ========================================================= */
/*Fonts*/
.unbounded {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 30px; /* tamaño agregado */
  text-align: left;
}

.font-Outfit {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 50px; /* tamaño agregado */
  line-height: 1.2; /* interlineado: puedes ajustar este valor */
  text-align: left;
}

.font-urbanist{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  line-height: 1.1; /* interlineado: puedes ajustar este valor */
  text-align: left;
}

.font-urbanist-small{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6; /* interlineado: puedes ajustar este valor */
  text-align: left;
}

.font-urbanist-medium{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  line-height: 1.6; /* interlineado: puedes ajustar este valor */
  text-align: left;
}