// Importa módulos nativos de Sass
@use "sass:map";
@use "sass:list";

// 🎨 Variables
$brown: #B37F59;
$black: #000000;
$white: #ffffff;
$gray-darkest: #393232;
$gray-darker:  #3C3C35;
$gray-dark:    #463F3E;
$gray-medium:  #7C7C79;
$gray-light:   #7C747C;

