<footer class="footer">
  <div class="footer-container">
    <div class="footer-grid">
      <!-- LOGO + DESCRIPCIÓN -->
      <div class="footer-brand">
        <div class="footer-logo">
          <div class="contenedor">
              <img src="/assets/img/careba/PNG_CAREBA_1.png " alt="CAREBA" height="150px">
          </div>
        </div>
        <p class="footer-description">
          Cada proyecto es una obra maestra diseñada para perdurar.
        </p>
        <div class="footer-social">
          <a href="https://www.facebook.com/carpinteriacareba?locale=es_LA" class="social-icon"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/careba.oficial" class="social-icon"><i class="bi bi-instagram"></i></a>
        </div>
      </div>

      <div class="footer-contact">
        <!-- <h4 class="footer-title">Contacto</h4>
        <ul>
          <li>Chalco, Edo México</li>
          <li><a href="tel:+34123456789">+52 55 14513651</a></li>
          <li><a href="mailto:careba_ramirez@hotmail.com">careba_ramirez@hotmail.com</a></li>
        </ul> -->
      </div>

      <!-- ENLACES -->
      <div class="footer-links">
        <h4 class="footer-title">Enlaces</h4>
        <ul>
          <li><a (click)="scrollTo($event, 'services')">Servicios</a></li>
          <li><a (click)="scrollTo($event, 'products')">Nuestros Muebles</a></li>
          <li><a (click)="scrollTo($event, 'contact')">Estamos Para Ayudarte</a></li>
        </ul>
      </div>

      <!-- CONTACTO -->
      <!-- <div class="footer-contact">
        <h4 class="footer-title">Contacto</h4>
        <ul>
          <li>Chalco, Edo México</li>
          <li><a href="tel:+34123456789">+52 55 14513651</a></li>
          <li><a href="mailto:careba_ramirez@hotmail.com">careba_ramirez@hotmail.com</a></li>
        </ul>
      </div> -->
    </div>

    <!-- COPYRIGHT -->
    <div class="footer-bottom">
      <p>&copy; {{ anioActual }} CAREBA. Todos los derechos reservados.</p>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>by <a class="text-white" href="#">&#64;<code>&lt;/&gt;VRM</code></a></p>
        </div>
      </footer>
      <div class="footer-bottom-links">
        <a href="#">Política de Privacidad</a>
      </div>
    </div>
  </div>
</footer>