<section class="section-header">
  <div class="linea-encabezado"></div>
  <div class="section-content">
    <h1 class="section-title text-center">Dando a los muebles una segunda vida, y al planeta una mejor.</h1>
    <h5 class="font-urbanist section-subtitle text-center">
      
    </h5>
  </div>
</section>

<section class="careba-reuse-section">
  <div class="careba-reuse-container">
    <div class="careba-reuse-image">
      <img
        src="/assets/img/photos/reused/buro.JPEG"
        alt="Furniture reuse"
      />
    </div>
      <div class="careba-reuse-content">
    <h2>CAREBA Furniture Reuse</h2>
    <p>
      En CAREBA creemos que cada mueble tiene una historia que vale la pena continuar.
      Lo que para unos ya no es necesario, puede ser de gran utilidad para otros.
      A través de nuestro programa de Reuso de Muebles, damos una segunda vida a los artículos usados,
      restaurando su belleza, función y propósito. Además, ponemos a la venta muebles reacondicionados
      bajo esta iniciativa, ofreciendo piezas únicas y sostenibles que contribuyen a un consumo más responsable.
      Únete a nosotros para reducir el desperdicio y apoyar un futuro más sostenible, pieza por pieza.
    </p>
    <a href="/reuso" class="btn-discover">Descubre más</a>
  </div>
</div>
</section>
