<section id="reused" class="section-header">
  <div class="linea-encabezado"></div>
  <div class="section-content">
    <h1 class="section-title lexend-zetta text-center">
      Dando a los muebles una segunda vida, y al planeta una mejor.
    </h1>
  </div>
</section>

<section class="careba-reuse-section">
  <div class="careba-reuse-container">

    <!-- Imagen con animación -->
    <div class="careba-reuse-image" [@slideInLeft]="animationState">
      <img src="/assets/img/photos/reused/buro2.jpg" alt="Furniture reuse" />
    </div>

    <!-- Texto con animación -->
    <div class="careba-reuse-content" [@slideInRight]="animationState">
      <h2>CAREBA Furniture Reuse</h2>
      <p>
        En CAREBA damos una segunda vida a los muebles usados, restaurándolos y
        ofreciéndolos como piezas únicas y sostenibles.
        A través de nuestro programa de Reuso de Muebles, promovemos el consumo
        responsable y ayudamos a reducir el desperdicio.
        Únete y forma parte de un futuro más sostenible, pieza por pieza.
      </p>
      <a [routerLink]="['/reused-careba']" class="btn-discover">Descubre más</a>

    </div>

  </div>
</section>