<div class="mb-5 p-5 bg-car text-white" #fadeEl [class.visible]="isFadeVisible">
  <div class="container">
    <div class="row text-white text-center">
      <div class="col p-4 mb-3 text-center rounded stat">
        <i class="bi bi-clock-history display-4 d-block mb-2"></i>
        <span class="fs-2 fw-bold d-block mb-3">30+</span>
        <span class="fs-4 d-block text-center font-urbanist">Años de Experiencia</span>
      </div>

      <div class="col p-4 mb-3 text-center rounded stat">
        <i class="bi bi-emoji-laughing display-4 d-block mb-2"></i>
        <span class="fs-2 fw-bold d-block mb-3">200+</span>
        <span class="fs-4 d-block text-center font-urbanist">Clientes Satisfechos</span>
      </div>

      <div class="col p-4 mb-3 text-center rounded stat">
        <i class="bi bi-check-circle-fill display-4 d-block mb-2"></i>
        <span class="fs-2 fw-bold d-block mb-3">1000+</span>
        <span class="fs-4 d-block text-center font-urbanist">Proyectos</span>
      </div>
    </div>
  </div>
</div>
