<section class="form-card-container">

  <!-- CAPA 1: DELIMITACIÓN -->
  <div class="form-card-border">

    <!-- CAPA 2: DEGRADADO -->
    <div class="form-card-gradient">

      <!-- CAPA 3: FORMULARIO -->
      <div class="form-card-content">
        <section id="controls">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group mb-4">
                <label style="font-weight: bold;" class="text-black">Ordenar por:</label>
                <select class="form-control" (change)="ordenarCotizaciones($event)">
                  <option value="" selected disabled>Seleccione</option>
                  <option value="cliente">Cliente</option>
                  <option value="direccion">Dirección</option>
                  <option value="fecha">Fecha</option>
                </select>
              </div>
            </div>

          </div>
        </section>

        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th class="sortable">#</th>
                <th class="sortable">Cliente</th>
                <th class="sortable direccion-col">Dirección</th>
                <th class="sortable">Origen</th>
                <th class="sortable">Fecha</th>
                <th class="sortable">Total Carpintería</th>
                <th class="sortable">Total con IVA</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody class="text-center">
              <tr *ngFor="let cot of cotizacionesPaginadas; index as i">
                <td class="text-center">
                  {{ ((paginaActual - 1) * registrosPorPagina) + i + 1 }}
                </td>
                <td><strong>{{ cot.cliente }}</strong><br>
                  <small>{{ cot.obra }}</small>
                </td>
                <td class="direccion-col">
                  {{ cot.direccion }}
                </td>
                <td>
                  <span class="badge" [ngClass]="{
                      'new': cot.statusProceso?.toLowerCase().includes('nuevo'),
                      'exist': cot.statusProceso === 'PasandoExcel'
                    }">
                    {{ cot.statusProceso?.toLowerCase().includes('nuevo')
                    ? 'N'
                    : cot.statusProceso === 'PasandoExcel'
                    ? 'xls'
                    : cot.statusProceso
                    }}
                  </span>
                </td>
                <td>{{ cot.fecha?.seconds ? (cot.fecha.seconds * 1000 | date:'dd/MM/yyyy') : '—' }}</td>
                <td>$ {{ cot.subtotal | number:'1.2-2' }}</td>
                <td>$ {{ cot.total | number:'1.2-2' }}</td>

                <td>
                  <button class="btn btn-link text-body-tertiary p-0" (click)="irAEditar(cot)">
                    <i class="bi bi-pencil-square fs-5"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-link text-body-tertiary p-0" (click)="generarPDFDesdeBD(cot)">
                    <i class="bi bi-file-earmark-arrow-down-fill fs-5"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="pagination-container">

          <!-- Anterior -->
          <button class="page-dot" (click)="paginaAnterior()" [disabled]="paginaActual === 1">

            &lt;&lt;

          </button>

          <!-- Páginas -->
          <button class="page-dot" *ngFor="let page of paginasVisibles" [class.active]="paginaActual === page"
            (click)="cambiarPagina(page)">

            {{ page }}

          </button>

          <!-- Siguiente -->
          <button class="page-dot" (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas">

            &gt;&gt;

          </button>

        </div>

      </div>

    </div>

  </div>

</section>