/* CENTRAR EN PANTALLA */
section {
  //min-height: 100vh;
  align-items: center;
}

/* CARD MÁS LIMPIO */
.card {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

/* INPUT TIPO LÍNEA */
.input-line {
  border: none !important;
  border-bottom: 2px solid #ccc !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding-left: 0;
  background: transparent;
}

.input-line:focus {
  border-bottom: 2px solid #0d6efd !important;
  box-shadow: none !important;
}

/* LABEL MÁS ELEGANTE */
label {
  font-size: 13px;
  color: #555;
}

/* BOTONES MÁS PRO */
.btn-enviar {
  font-weight: 600;
  padding: 10px 26px;
  border-radius: 10px;
  box-shadow: 0 6px 14px rgba(0,0,0,.15);
  transition: .25s;
}

.btn-enviar:hover {
  transform: translateY(-2px);
}

.status-select {
  width: 200px; /* tamaño más compacto */
  font-size: 13px;
}

/* Reduce altura */
.status-select .mat-mdc-text-field-wrapper {
  height: 40px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Label más pequeño */
.status-select .mat-mdc-floating-label {
  font-size: 12px;
}

/* Fondo del panel (dropdown) */
.mat-mdc-select-panel {
  background-color: #ffffff !important; /* blanco */
}

/* Opciones normales */
.mat-mdc-option {
  color: #333 !important;
  font-size: 14px;
}

/* Opción al pasar el mouse */
.mat-mdc-option:hover {
  background-color: #e8f5e9 !important; /* verde clarito */
}

/* Opción seleccionada */
.mat-mdc-option.mdc-list-item--selected {
  background-color: #c8e6c9 !important; /* verde suave */
  color: #1b5e20 !important;
}

/* Check (palomita) */
.mat-pseudo-checkbox {
  color: #2e7d32 !important;
}

/* Texto del select */
.mat-mdc-select-value {
  color: #1b5e20 !important;
}
