<section id="contact">
  <div class="p-5 bg-car mb-5">
    <section class="section-header">
      <div class="linea-encabezado"></div>
      <div class="section-content">
        <h1 class="section-title lexend-zetta text-center text-white">¿Listo para tu Proyecto?</h1>
        <h5 class="font-urbanist section-subtitle text-center">
          Cuentanos tu idea y te ayudaremos a hacerla realidad
        </h5>
      </div>
    </section>

    <section id="Formulary">
      <div class="contacto-grid">
        <div class="formulario-contacto">
          <!-- <h2 class="text-white text-center">Contáctanos</h2> -->
          <form class="form-contacto">
            <div class="row">
              <div class="col">
                <label for="nombre" class="text-white font-urbanist-medium">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" required>
              </div>

              <div class="col">
                <label for="tel" class="text-white font-urbanist-medium">Teléfono</label>
                <input type="tel" id="tel" name="tel" placeholder="55 123 456 78" required>
              </div>
            </div>

            <label for="email" class="text-white font-urbanist-medium">Correo</label>
            <input type="email" id="email" name="email" placeholder="correo@email.com" required>

            <label for="mensaje" class="text-white font-urbanist-medium">Mensaje</label>
            <textarea id="mensaje" name="mensaje" rows="5"
              placeholder="Describe tu proyecto con cualquier detalle relevante..." required></textarea>

            <button type="submit" class="btn btn-lg btn-primary">Solicitar Presupuesto Gratuito  &#10140;</button>
          </form>
        </div>

      </div>
    </section>
  </div>
</section>