<!-- <section class="card">
        <h3>Lista de Cotizaciones 2026</h3>

        <table>
          <thead>
            <tr>
              <th>AUTHOR</th>
              <th>FUNCTION</th>
              <th>STATUS</th>
              <th>EMPLOYED</th>
              <th></th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td class="author-cell">
                <img src="">
                <div>
                  <strong>John Michael</strong><br>
                  <small>john@creative-tim.com</small>
                </div>
              </td>
              <td>Manager<br><small>Organization</small></td>
              <td><span class="badge online">ONLINE</span></td>
              <td>23/04/18</td>
              <td><a href="#">Edit</a></td>
            </tr>

            <tr>
              <td class="author-cell">
                <img src="">
                <div>
                  <strong>Alexa Liras</strong><br>
                  <small>alexa@creative-tim.com</small>
                </div>
              </td>
              <td>Programator<br><small>Developer</small></td>
              <td><span class="badge offline">OFFLINE</span></td>
              <td>11/01/19</td>
              <td><a href="#">Edit</a></td>
            </tr>

            <tr>
              <td class="author-cell">
                <img src="">
                <div>
                  <strong>Laurent Perrier</strong><br>
                  <small>laurent@creative-tim.com</small>
                </div>
              </td>
              <td>Executive<br><small>Projects</small></td>
              <td><span class="badge online">ONLINE</span></td>
              <td>19/09/17</td>
              <td><a href="#">Edit</a></td>
            </tr>

          </tbody>
        </table>
      </section> -->
