<section class="servicios"  #fadeEl [class.visible]="isFadeVisible">
  <div class="service-card">
    <div class="icon-box" style="background:#1e3a47;">
      <i class="bi bi-award"></i>
    </div>
    <h3 class="text-black">Caidad Garantizada</h3>
    <p style="color: rgb(81, 81, 81);">Todos nuestros muebles son inspeccionados y restaurados</p>
  </div>

  <div class="service-card">
    <div class="icon-box" style="background:#1e3a47;">
      <i class="bi bi-box-seam"></i>
    </div>
    <h3 class="text-black">Entregas</h3>
    <p style="color:  rgb(81, 81, 81);;">Por las características de cada mueble, es necesario que el comprador pase a recogerlo personalmente.</p>
  </div>

  <div class="service-card">
    <div class="icon-box" style="background:#1e3a47;">
      <i class="bi bi-hand-thumbs-up"></i>
    </div>
    <h3 class="text-black">Garantía de Satisfacción</h3>
    <p style="color:  rgb(81, 81, 81);;">Tu satisfacción es muy importante para nosotros; el mueble se entrega tal como se exhibe (color, tamaño y características)</p>
  </div>

  <div class="service-card">
    <div class="icon-box" style="background:#1e3a47;">
      <i class="bi bi-leaf"></i>
    </div>
    <h3 class="text-black">Sostenible</h3>
    <p style="color:  rgb(81, 81, 81);;">Contribuye al consumo responsable y la economía circular</p>
  </div>
</section>