<section id="servicios" #fadeEl [class.visible]="isFadeVisible">
  <div class="service-card">
    <div class="icon-box" style="background:#434448;">
      <i class="bi bi-pencil-square"></i>
    </div>
    <h3 class="text-white">Diseño Personalizado</h3>
    <p style="color: darkgrey;">Cada pieza es única, diseñada específicamente para tu espacio y necesidades</p>
  </div>

  <div class="service-card">
    <div class="icon-box" style="background:#1e3a47;">
      <i class="bi bi-rulers"></i>
    </div>
    <h3 class="text-white">Muebles a Medida</h3>
    <p style="color: darkgrey;">Diseñamos y fabricamos muebles únicos adaptados a tus necesidades y espacio.</p>
  </div>

  <div class="service-card">
    <div class="icon-box" style="background:#4b2848;">
      <i class="bi bi-stars"></i>
    </div>
    <h3 class="text-white">Restauración Premium</h3>
    <p style="color: darkgrey;">Devolvemos la vida a tus muebles con excelentes técnicas de restauracion.</p>
  </div>

  <div class="service-card">
    <div class="icon-box" style="background:#1d442d;">
      <i class="bi bi-hammer"></i>
    </div>
    <h3 class="text-white">Carpintería Integral</h3>
    <p style="color: darkgrey;">Desde armarios hasta terrazas, todo tipo de proyectos en madera tanto interior como exterior</p>
  </div>
</section>